/****  GENERAL  ****/

.modale-container {
    position: fixed;
    display: flex;
    justify-content: center; 
    align-items: center; 
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
}    

.modale-background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
}

.modale {
    position: absolute;
    z-index: 2;
    width: 630px;
    background: white;
    border-radius: 10px;
}

#closing-cross,
#closing-cross2 {
    position: absolute;
	display: flex;
	flex-direction: row-reverse;
    top: 30px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
}

.modale-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 110px 0 110px;
}

.modale h2 {
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
	color: #000000;
}

.border-in-modale {
    width: 100%;
	border: solid 1px #3d3d3d80;
} 


/**  for the first modale  **/

.display-works-modale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 10px;
    margin: 45px 0 65px 0;
}

/* see javaScript "modale.js" file  */
.img-and-icon {
    display: flex;
    flex-direction: row-reverse;
}

.img-and-icon img {
    width: 76px;
    height: 102px;
}

.div-icon-trash {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    margin: 5px;
    background-color: #000000;
    cursor: pointer;
}

.div-icon-trash i {
    font-size: 10px;
    color: white;
}
/**************************************/

.btn-ajouter {
    width: 237px;
}


/**  for the second modale  **/

#modale2 {
    display: none;
}

#return-arrow {
    position: absolute;
    display: flex;
    top: 30px;
    left: 30px;
    font-size: 21px;
    cursor: pointer;
}

.add-pic-form {
    display: flex;
    flex-direction: column;
}

.add-pic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 169px;
    margin: 40px 0 30px 0;
    background-color: #E8F1F6;
    border-radius: 3px;
}

.add-pic-section i {
    margin: 18px 0 8px 0;
    font-size: 68px;
    color: #B9C5CC;
}

.btn-add-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 36px;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 600;
    color: #306685;
    background-color: #CBD6DC;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#file {
    display: none;
}

.add-pic-section img {
    display: none;
    width: 130px;
    height: 100%;
}

.add-pic-section p {
    margin-top: 8px;
    font-size: 10px;
}

label[for="titre"],
label[for="categorie-select"] {
    margin-bottom: 10px;
    font-weight: 600;
}

input[id="titre"] {
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 14px;
}

select {
    padding: 0 15px;
    margin-bottom: 45px;
    font-size: 14px;
}

/** see javaScript "modale.js" file **/
.error::placeholder {
	font-weight: 600;
	color:  rgba(238, 9, 9);
}
/*************************************/

.btn-valider {
    width: 237px;
    margin: 30px 100px 55px 100px;
    background-color: #A7A7A7;
}